* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #b2bcc2 url('dictionary bg.jpg') no-repeat center center/cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.container {
    width: 100%;
    max-width: 600px;
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.search-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
    margin-bottom: 20px;
}

.search-box input {
    padding: 10px;
    font-size: 16px;
    width: 250px;
    max-width: 100%;
}

.search-box button {
    padding: 10px 20px;
    background: rgb(160, 170, 170);
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.search-box button:hover {
    background-color: rgb(140, 150, 150);
    color: black;
}

.result-container {
    width: 100%;
    max-width: 600px;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 12px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    line-height: 1.6;
    padding: 20px;
    margin-top: 30px;
    text-align: left;
    animation: fadeIn 0.6s ease-in-out;
}

.hidden {
    display: none;
}

.spinner {
    margin-top: 20px;
    border: 6px solid #f3f3f3;
    border-top: 6px solid #333;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(15px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 500px) {

    .container,
    .result-container {
        padding: 15px;
    }

    .search-box input {
        width: 100%;
    }

    .search-box {
        flex-direction: column;
    }
}